.vs/
.idea/
*.user
*.config
parserExcel/WindowsFormsApp1/obj
parserExcel/WindowsFormsApp1/bin
parserExcel/packages


app.config
parserExcel/WindowsFormsApp1/Logo3.ico
parserExcel/WindowsFormsApp1/СпецификацияКЗ.docx
parserExcel/WindowsFormsApp1/СпецификацияКЗ60.docx
parserExcel/WindowsFormsApp1/СпецификацияРФ100.docx
parserExcel/WindowsFormsApp1/СпецификацияРФ60.docx
parserExcel/WindowsFormsApp1/Logo2.ico
